table{
    border: solid 1px black;
}
td {
    width: 150px;
    border: solid 1px black;
}
th{
    width: 150px;
    border: solid 1px black;
}
a{
    width: 150px;
    border: solid 1px black;

}
.button{
    padding: 5px;
    background-color: blue;
    color: white;
    text-decoration: none;


}