/* se static zorgt er voor dat hij niet speciaal is gepositioneerd blijft op de normale pagina flow */
.static{
    position: static;
    border: 3px solid #73AD21;
  }
/**/
.relative {
    position: relative;
    left: 30px;
    border: 3px solid #73AD21;
  }
/*de fixed zorgt er voor dat hij altijd op die plek staat waar jij hem laat staan*/
.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 3px solid #73AD21;
  }

/*dit hoort bij de absolute*/
/*snap deze niet zo goed vraag leraar morgen*/
.relative2 {
    position: relative;
    width: 400px;
    height: 200px;
    border: 3px solid #73AD21;
  } 
  
.absolute {
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    height: 100px;
    border: 3px solid #73AD21;
  }
/*-------------------------------------*/

/*blijft plakken op de plek waar je hem zet okal scrol je naar beneden of boven*/
  .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: #cae8ca;
    border: 2px solid #4CAF50;
  }

/*dit heb je nodig om text in een plaatje te stoppen*/
  .container {
    position: relative;
  }
  
  .center {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
  }
  
  img { 
    width: 100%;
    height: auto;
    
  }